
    <GridLayout>
            <StackLayout margin="10" verticalAlignment="center">
                <StackLayout class="input-field" margin="5">
                    <TextField class="input input-border" id="email" hint="Email" text="" row="10" col="1"></TextField>
                </StackLayout>
                <StackLayout class="input-field" margin="5">
                    <TextField class="input input-border" id="password" hint="Password" text="" row="1" col="1"></TextField>
                </StackLayout>
                <StackLayout class="input-field" margin="5">
                    <Button class="btn btn-login w-full" text="Enter" (tap)="login()"></Button>
                </StackLayout>
            </StackLayout>
            <StackLayout margin="10" verticalAlignment="bottom">
                <StackLayout class="input-field" >
                    <Button class="btn btn-register w-full" text="Register" (tap)="login()"></Button>
                </StackLayout>
                <StackLayout class="input-field" >
                    <Button class="btn btn-facebook w-full" text="Facebook" (tap)="login()"></Button>
                </StackLayout>
            </StackLayout>
    </GridLayout>

